/* * {
    margin: 0;
} */

h1,h2,h3 {
    color: rgb(90, 11, 90);
}

body {
    background: rgb(124, 124, 248);
}

main {
    background-color: rgb(172, 152, 152);
    border: #6a2cce solid;
    width: 800px;
    margin: 0 auto;
    min-height: 601px;
}

article {
    background-color: rgb(238, 204, 238);
    border: 3px solid black;
}

section {
    background-color: rgb(174, 224, 222);
    border: 2px solid rgb(20, 104, 104);
}

header {
    background-color: rgb(255, 255, 255);
}

nav {
    background-color: rgb(255, 255, 255);
}

footer {
    background-color: rgb(243, 96, 96);
}

* {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

pre,
code {
    font-family: "Courier New", "Courier", monospace;
    color: #6a2cce;
    border: 1px solid black;
    }

div.example {
    background-color: #fff;
    border: 2px solid gray;
}

.kit li {
    color: rgb(73, 124, 126);
}

.kit > li {
    color: crimson;
}

.bold {
    color: blue;
    font-weight: bold;
}

.bold ~ li {
    color: blue;
}

.italic {
    font-style: italic;
}

.italic + li {
    color: rgb(93, 128, 58);
}

h2:target,
h3:target {
    border: 3px solid yellowgreen;
    background-color: yellowgreen;
}

h2:target::before,
h2:target::after,
h3:target::before,
h3:target::after {
    content: "🤠🔎";
}

a:link,
a:visited,
a:active {
    color: rgb(255, 0, 255);
}

@media (min-width: 2000px) {
    body {
        background-color: black;
    }
}